PODCAST_EPISODE_PATH="/some/path/to/podcast/files/"
PODCAST_TITLE="Podcast Title"
PODCAST_AUTHOR="Author"
PODCAST_DESCRIPTION="A test podcast."

# APP_PORT=3000 # optional, specify port for accessing via docker